<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'welcome' %}">Restaurant</a>
    </div>
  </div>
</nav>
<h1>Welcome To our Restaurants</h1>

<div style="padding-top: 20px;padding-left: 30px">
    <div class="row">
        {% for r in restaurants %}
        <div>

            <!-- <div class="col-md-3"></div> -->
            <div class="col-md-6" style=" padding:10px">
                <h2 style="font-family: serif; color:rgba(0,0,62,0.9);text-align: center">
                        {{r.resto_name}}
                </h2>
                <a href="{{'new_restaurant'}}"><img src="{{r.resto_image.url}}" class="img-responsive" alt="" height=160px width=320px></a>  
            
            </div>
            <br><br>

            <!-- <div class="col-md-3"></div> -->
        </div>

        {% endfor %}
    </div>
</div>






</body>
</html>